<!-- src/mail/templates/transaction-report.hbs -->

<html dir='rtl'>
  <head>
    <meta charset='UTF-8' />
    <style>
      body {
        font-family: Arial, sans-serif;
        direction: rtl;
      }
      .header {
        background: #f8f9fa;
        padding: 20px;
        text-align: center;
      }
      .transaction {
        border: 1px solid #ddd;
        margin: 10px 0;
        padding: 15px;
        border-radius: 5px;
      }
      .deposite {
        border-right: 4px solid #28a745;
      }
      .withdrawal {
        border-right: 4px solid #dc3545;
      }
      .green-bg {
        border-right: 4px solid #dc3545;
        background: #28a745;
      }
    </style>
  </head>
  <body>
    <div class='header'>
      <h1>گزارش تراکنش‌های روزانه</h1>
      <p>تاریخ: {{date}}</p>
      <p>تعداد تراکنش‌ها: {{transactions.length}}</p>
    </div>

    {{#each transactions}}
      <div class='transaction {{this.type}}'>
        <h3>تراکنش {{inc @index}}</h3>
        <p><strong>نوع:</strong>
          {{this.type}}
        </p>
        <p><strong>مبلغ:</strong> {{this.amount}} تومان</p>
      </div>
    {{/each}}
    <div class='transaction green-bg'>
      <p><strong>مبلغ کل:</strong> {{this.netAmount}} تومان</p>
    </div>
  </body>
</html>