<!-- src/mail/templates/transaction-report.hbs -->

<html dir='rtl'>
  <head>
    <meta charset='UTF-8' />
    <style>
      body {
        font-family: Arial, sans-serif;
        direction: rtl;
      }
      .header {
        background: #f8f9fa;
        padding: 20px;
        text-align: center;
      }
      .transaction {
        border: 1px solid #ddd;
        margin: 10px 0;
        padding: 15px;
        border-radius: 5px;
      }
      .deposite {
        border-right: 4px solid #28a745;
      }
      .withdrawal {
        border-right: 4px solid #dc3545;
      }
      .rejected {
        background: #dc3545;
      }
    </style>
  </head>
  <body>
    <div class='header'>
      <h1>گزارش تراکنش‌</h1>
      <p>تاریخ: {{date}}</p>
    </div>

    <div class='transaction {{type}} {{status}}'>
      <h3>
        <strong>عنوان تراکنش:</strong>
        {{title}}
      </h3>
      <h3>
        <strong>وضعیت تراکنش:</strong>
        {{status}}
      </h3>
      <p>
        <strong>نوع:</strong>
        {{type}}
      </p>
      <p>
        <strong>مبلغ خالص:</strong>
        {{amount}}
        تومان
      </p>
      <p>
        <strong> مالیات:</strong>
        {{fee}}
        تومان
      </p>
      <p>
        <strong>مبلغ نهایی:</strong>
        {{netAmount}}
        تومان
      </p>
      <p>
        <strong>توضیح:</strong>
        {{description}}
      </p>

      <p>
        <strong>شماره فاکتور:</strong>
        {{invoiceNumber}}
      </p>
      <p>
        <strong>ادمین تایید/رد کننده:</strong>
        {{processedBy}}
      </p>
      <p>
        <strong>توضیح ادمین</strong>
        {{processDescription}}
      </p>
      <p>
        <strong>کیف پول</strong>
        {{walletId}}
      </p>
    </div>

  </body>
</html>